div {
  width: 370px;
  height: 370px;
  position: relative;
}

section {
  position: absolute;
  height: 185px;
  width: 100%; 
  overflow: hidden;
  transition: all 1s ease;
}

.top {
  font-family: 'Roboto';
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.bottom {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.bottom:hover {
  height: 370px;
}

.top:hover {
  height: 370px;
  z-index: 1;
}

.top:hover + .bottom{
  height: 0;
  z-index: 0;
}
